* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: 'Arial', sans-serif; /* Você pode mudar a fonte aqui */
    background-color: #fefefe;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%; /* Faz o cabeçalho ocupar a largura total da página */
    position: fixed; /* Mantém o cabeçalho fixo no topo */
    background-color: #fefefe;
    z-index: 1000;
    top: 0;
    
   
}
.header-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fefefe;
   
   
}

.logo {
    font-family: Magneto; /* Substitua pela fonte desejada */
    font-size: 1.4rem;
    font-weight: bold;
    color:#333;
    margin-left: 40px;
   
   
}

#link {
    text-decoration: none;
    color:#333;
}

#link:hover {
   color: #5ea8f4;
   font-size: 20px;
}


nav {
    flex-grow: 1; /* Permite que o nav use o espaço disponível */
}

.nav-menu {
    display: flex;
    list-style: none; /* Remove os marcadores de lista */
    justify-content: center; /* Centraliza os itens */
}

.nav-menu li {
    margin: 0 15px; /* Espaçamento entre os itens do menu */
}

.nav-menu a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #333; /* Cor do texto do menu */
    font-size: 1.1rem; /* Tamanho da fonte */
    transition: color 0.3s ease; /* Transição suave ao passar o mouse */
    margin-left: 10px;

}   

.nav-menu a:hover {
    color: #0478fd; /* Cor ao passar o mouse */
}

.btn_1 {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
    margin-right: 70px;
}

.btn-contact {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease; /* Transição suave */
}

.white {
    background-color: white;
    color: #5ea8f4; /* Cor do texto do botão */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ao redor */
}

.blue {
    background-color: #0478fd;
    color: white; /* Cor do texto do botão */
}

.btn-contact:hover {
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.btn_2 {
    display: flex;
    gap: 20px; /* Espaçamento entre os botões */
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ao redor */
    transition: all 0.3s ease; /* Transição suave ao passar o mouse */
}

.btn-white {
    background-color: white; /* Fundo branco */
    color: black; /* Texto preto */
}

.btn-black {
    background-color: black; /* Fundo preto */
    color: white; /* Texto branco */
}

/* Estilo para quando o mouse passa por cima do botão */
.btn-white:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
    transform: translateY(-2px); /* Eleva o botão ligeiramente */
    background-color: #fefefe;
}

.btn-black:hover{
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
    transform: translateY(-2px); /* Eleva o botão ligeiramente */
    background-color: #fefefe;
    color: black;

}


.banner{
    background-image: url(imagem/fot.jpg);
    background-size: cover; /* A imagem cobrirá toda a área do banner */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    width: 100%; /* O banner ocupa 100% da largura da tela */
    height: 650px; /* Altura do banner */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
   
}

.banner p {
    font-size: 18px; /* Tamanho da fonte do parágrafo */
    margin: 0; /* Remove margens padrão */
    padding: 10px; /* Espaçamento interno do parágrafo */
    border-radius: 5px; /* Bordas arredondadas */
    text-align: center;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 13px;

}
.banner h2 {
    font-size:2rem; /* Tamanho da fonte do parágrafo */
   

}

.sobre {
    display: flex;
    justify-content: space-between;
    background-color: #fefefe;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}


/* Estilo para o título */
.sobre h2 {
    font-size: 36px;
    font-weight: 700;
    color: #333;
   
    
}

/* Estilo para o parágrafo */
.sobre p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    max-width: 55%; /* Define largura máxima para o parágrafo */
    text-align: justify;
}
.sobre-1 {
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}


/* Estilo para o título */
.sobre-1 h2 {
    margin-left: 80px;
    font-size: 28px;
    font-weight: 700;
    color: #f1f1f1;
   
    
}

/* Estilo para o parágrafo */
.sobre-1 p {
    font-size: 16px;
    line-height: 1.4;
    color: #f1f1f1;
    max-width: 55%; /* Define largura máxima para o parágrafo */
    
}

.pai{
    background-color: #070707;
    
}

/* gossi e stilo pa habilidades ok 
/* Estilizando a seção de habilidades */
.habilidades {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f4f4f4;
}

.habilidades-texto {
    max-width: 50%;
}

.habilidades-texto h3 {
    font-size: 32px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.habilidades-texto p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color:black;
}

.skills-list li i {
    font-size: 24px;
    margin-right: 10px;
}

/* Estilo para a imagem */
.habilidades-imagem img {
    max-width: 90%;
    height:500px;
    
}

/* Alinhando a imagem com o texto */
.habilidades-imagem {
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .habilidades {
        flex-direction: column;
    }

    .habilidades-texto,
    .habilidades-imagem {
        max-width: 100%;
    }
}


/* Centraliza a seção e define margens laterais */
.meus-projetos {
    background-color: black;  /* Fundo preto */
    padding: 50px 20px;  /* Padding para espaçamento interno */
    text-align: center;  /* Centraliza o texto */
    color: white;  /* Cor do texto branca */
    max-width: 100%;  /* Largura máxima da seção */
    margin: 0 auto;  /* Centraliza a seção na página */
}

/* Título e Parágrafo */
.meus-projetos h1 {
    font-size: 36px;
    margin-bottom: 20px;  /* Espaçamento entre o título e o parágrafo */
}

.meus-projetos p {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center; 
}
.conteiner{
    
    margin-left: 70px;
    margin-right: 70px;
}

/* Grade de imagens centralizada com margem */
.projetos-imagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 colunas */
    gap: 10px;
}

/* Estilizando as imagens */
.projetos-imagens img {
    max-width: 100%;  /* Faz as imagens se ajustarem ao contêiner */
    height: auto;  /* Preserva a proporção da imagem */
    border-radius: 8px;  /* Bordas arredondadas para um visual mais elegante */
}
.projetos-imagens img:hover {
    transition: transform 0.9s; /* Suaviza a transição */
    transform: translateZ(15px); /* Move a imagem para frente */
}


/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .projetos-imagens {
        grid-template-columns: repeat(2, 1fr);  /* 2 colunas em telas menores */
    }
}

@media (max-width: 480px) {
    .projetos-imagens {
        grid-template-columns: 1fr;  /* 1 coluna em telas muito pequenas */
    }
}

/* goci e pa secao de tecnologias */ 

.tecnologia-section {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;     /* Centraliza o conteúdo verticalmente */
    padding: 40px;
    background-color: black; /* Cor de fundo suave */

}

.pai{
    background-color: black;
}

.tec{
    gap: 15px;
    display: flex;
    margin-left: 80px;
    margin-right: 50px;
    background-color: black;
}

.tecnologia-container {
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    max-width: 400px;       /* Largura máxima para o conteúdo */
    gap: 5px;
        
    
}

.tecnologia-container img {
    max-width: 100%; /* Imagem ocupa toda a largura disponível */
    height: auto;    /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
    margin-bottom: 15px; /* Espaço abaixo da imagem */
}

.tecnologia-container h1 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.tecnologia-container p {
    font-size: 16px;
    color: white;
    line-height: 1.4;
    margin-bottom: 20px;
}

.tecnologia-container button {
    padding: 10px 20px;
    background-color: black; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tecnologia-container button:hover {
    color: #333;
    background-color: #e8eaec; /* Cor mais escura ao passar o mouse */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .tecnologia-container {
        max-width: 90%; /* Largura adaptada para dispositivos móveis */
    }
}

/* Gossi go e pa */
/* Estilos gerais para o título e parágrafo centralizados */

 

/* Estilo para o container principal */
.cliente {
    display: grid;
    grid-template-columns: repeat(3, 0fr); /* Três colunas */
    gap: 15px; /* Espaçamento entre as seções */
    padding: 20px;
    justify-content: center;
    align-items: center;    
    
   
}

.avb-cliente{
   margin-left: 25px; 
   margin-top: 25px;
   margin-bottom: 15px;
   
}


.p{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    
}



/* Estilo para a seção de avaliações */
.avaliacoes-clientes {
    background-color: #007bff; /* Fundo azul */
    border-radius: 5px;
    width: 370px;
    color: white; /* Texto branco para contraste */
   
   
    
}

/* Estrelas */
.estrelas {
    font-size: 15px;
    color: #f8f7f3; /* Cor das estrelas */
    text-align: left;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-top: 20px;
   
}

/* Estilos para o conteúdo do cliente */
.cliente-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    
}

.main-1 p {
    width: 500px;
    text-align: center;
    margin-left: 30%;
}
.main-1 h2 {
    padding: 20px;
    text-align: center;
}



.texto{
    width: 300px;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
}

.cliente-detalhes h4{
    font-size: 15px;
}
.cliente-detalhes{
    display: flex;
    width: 200px;
    flex-direction: column;
    padding-left: 5px;
    gap: 5px;
    
    

}

/* Imagem do cliente */
.imagem-cliente {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Faz a imagem ficar em formato circular */
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

/* Estilos para os detalhes do cliente */


/* Responsividade para telas menores */
@media (max-width: 768px) {
    .cliente {
        grid-template-columns: 1fr; /* Em telas menores, mostra um item por linha */
    }
}

.publicacao{
    background-color: #070707;
}
.publicacao h3{
    padding-top: 100px;
    color: #e8eaec;
   margin-left: 188px;
}

.conteudos{
    display: flex;
    justify-content: space-around;
    color: #e8eaec;
    margin-top: 10px;

}
.conteudos h3{
    margin-left:60px ;
    margin: 0; 
    
}
.conteudos h4{
    width: 500px;
    margin: 0;
}

.pb a{
    width: 80px;
    height: 20px;
    color: white;
    text-decoration: none;
     
}
.pb a:hover{
   
    color: #cfaaaa;
    width: 90px;
    height: 25px;
}
.conteudos button{
    background-color: #070707;
    color: #e8eaec;
    border: 1px #e8eaec solid;
}

.principal{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin-top: 40px;
    padding-bottom:30px;
}
.contentor{
   background-color: #5c53533b;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 500px;
   height: 200px;
   justify-content: center;
   align-items: center;
   
   
}
.sub-contentor{
   display: flex;
   gap: 10px;


   
}
.sub-contentor img{
  width: 250px;
  height: 200px;
  overflow: hidden;
}
.sub-contentor img:hover{
  transform: scale(1.04);
  transition: 2s ease-in;
}

.conteiner-conteudo{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content:justify;
    margin-top: 40px;
    margin-left: 20px;
    color: #e8eaec;
    gap: 5px;
    
   
}

.cabecalho{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 40px;
    
}

.linha {
    margin-left: 50px;
    margin-right: 50px;
    border: none; /* Remove a borda padrão */
    border-top: 1px solid #000; /* Cria uma linha superior */
    width: 90%; /* Define a largura da linha */
    
}
    

.cabecalho ul{
    margin-left: 100px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-right: 100px;
}

.social-icons a {
    font-size: 20px;
    color: #000; /* Cor preta para os ícones */
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff; /* Muda a cor ao passar o mouse */
}

.footer-final{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.casal{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 30px;
   
}
#par{
    width: 30%;
    margin-left: 150px;
}

